*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1350px;
    padding: 20px;
    margin: 0 auto;
}
.container h1, p{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
 .for{
    width: 400px;
    height: 500px;
    border: 2px solid inherit;
    margin-left: 360px;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
 }
 label{
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
 }
 input{
    width: 300px;
    padding: 10px;
    margin-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    margin-bottom: 10px;
 }
 textarea{
    margin-left: 70px;
    text-align: left;
    border: none;
    border-radius: 5px;
 }
 button{
    margin-left: 160px;
    margin-top: 30px;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: orangered;
    color: white;
 }
 button:hover{
    background-color: wheat;
    color: black;
 }
 .da{
    font-size: 14px;
    text-align: center;
    padding: 20px;
 }

 .da p{
    margin-top: 10px;
 }
 .da a{
   font-size: 14px;
   text-decoration: none;
   color: orangered;
 }